# رابط الاتصال عبر Connection Pooler (الموصى به للعمليات العادية)
DATABASE_URL="postgresql://postgres:swwssfffffttttyy@db.zqwpbkmbjzebauekhcxo.supabase.co:6543/postgres?pgbouncer=true"

# رابط الاتصال المباشر (مهم جداً لـ Prisma Migrations)
DIRECT_URL="postgresql://postgres:swwssfffffttttyy@db.zqwpbkmbjzebauekhcxo.supabase.co:5432/postgres"

# بيئة التشغيل والمنفذ
NODE_ENV="development"
PORT=3001

# مفتاح أمان عشوائي للتشفير
JWT_SECRET="amper_secret_key_2026_xyz"
JWT_EXPIRES_IN="7d"